<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MenuSVT</servlet-name>
        <servlet-class>Controlador.MenuSVT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSvt</servlet-name>
        <servlet-class>Controlador.LoginSvt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlServicios</servlet-name>
        <servlet-class>Controlador.ControlServicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlClienteSVT</servlet-name>
        <servlet-class>Controlador.ControlClienteSVT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuSVT</servlet-name>
        <url-pattern>/MenuSVT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSvt</servlet-name>
        <url-pattern>/LoginSvt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlServicios</servlet-name>
        <url-pattern>/ControlServicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlClienteSVT</servlet-name>
        <url-pattern>/ControlClienteSVT</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login-principal.jsp</welcome-file>
    </welcome-file-list>
</web-app>
